/* You can add global styles to this file, and also import other style files */
body, *{
    margin:0px;
    padding:0px;
    font-family: Roboto, sans-serif;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    background:#E6E7EB;
}
.signal-light-left #box{
    padding-top: 5px;
}
.signal-light-bottom #box{
    padding-top: 5px;
}
.signal-light-right #box{
    padding-top: 5px;
}
.signal-light-top #box{
    padding-top: 5px;
}
.red-border{
    background-color: red;
}
.top-red-border{
    width: 5px;
    height: 100vh;
    position: absolute;
    left:16px;
}
.top-red-border-bottom{
    width: 5px;
    height: 100vh;
    position: absolute;
    right: 16px;
}
.left-red-border{
    width: 100%;
    height: 4px;
    position: absolute;
    top:16px;
}
.left-red-border-bottom{
    width: 100%;
    height: 4px;
    position: absolute;
    bottom:16px
}
.signal-light-bottom .container #box .green-light{
    transform: rotate(360deg);
}